<?php 
if (isset($_POST["btnSave"])) {
	$name = $_POST["txtProName"];
	$price = $_POST["txtPrice"];
	$quantity = $_POST["txtQuatily"];
	$catId = $_POST["selCatID"];
	$tinyDes = $_POST["txtTinyDes"];
	$fullDes = $_POST["txtFullDes"];
	$NgayTiepNhan = $_POST["txtNgayTiepNhan"];



	$sql = "insert into products(ProName, TinyDes, Price, CatID, Quantity,LuotXem, NgayTiepNhan, SoLuongBan, MoTa) values('$name', '$tinyDes', $price, $catId, $quantity, 0,'$NgayTiepNhan',0, '$fullDes')";
	$id = write($sql);

			echo '<script language="javascript">';
		echo 'alert("Thêm Sản Phẩm Thành Công")';
		echo '</script>';
echo("<script>location.href = '/laptop/index.php';</script>");

	$f = $_FILES["fuMain"];
	if ($f["error"] > 0) {

	} else {

		if (!file_exists('imgs/sp/$id')) {
		mkdir("imgs/sp/$id");
		$tmp_name = $f["tmp_name"];
		$name = $f["name"];
		$destination = "imgs/sp/$id/2.jpg";
		move_uploaded_file($tmp_name, $destination);
	}
	}


		$f = $_FILES["fuThumbs"];
	if ($f["error"] > 0) {

	} else {
		if (!file_exists('imgs/sp/$id')) {
		mkdir("imgs/sp/$id");
		$tmp_name = $f["tmp_name"];
		$name = $f["name"];
		$destination = "imgs/sp/$id/main_thumbs.jpg";
		move_uploaded_file($tmp_name, $destination);
	}
	}
}
?>
<link rel="stylesheet" type="text/css" href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<div class="row">
			<div class="col-md-10 col-lg-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Sản phẩm mới</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
							<div class="form-group">
								<label for="txtProName" class="col-sm-2 control-label">Tên Sản phẩm</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="txtProName" name="txtProName" placeholder="Apple Pro">
								</div>
							</div>
							<div class="form-group">
								<label for="txtTinyDes" class="col-sm-2 control-label">Mô tả</label>
								<div class="col-sm-10">
									<!-- <input type="text" class="form-control" id="txtFullDes" name="txtTinyDes" placeholder="Máy tính"> -->
									<textarea rows="10" id="txtFullDes" name="txtTinyDes" class="form-control">										
									</textarea>
								</div>
							</div>


							<div class="form-group">
								<label for="txtPrice" class="col-sm-2 control-label">Giá</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="txtPrice" name="txtPrice" placeholder="30,000,000">
								</div>
							</div>
							<div class="form-group">
								<label for="selCatID" class="col-sm-2 control-label">Loại</label>
								<div class="col-sm-10">
									<select id="selCatID" name="selCatID" class="form-control">
										<?php 
											$sql = "select * from categories";
											$rs = load($sql);
											while ($row = $rs->fetch_assoc()) :
										?>
											<option value="<?= $row["CatID"] ?>"><?= $row["CatName"] ?></option>
										<?php endwhile; ?>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="txtQuatily" class="col-sm-2 control-label">Số Lượng</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="txtQuatily" name="txtQuatily" placeholder="1">
								</div>
							</div>
							<div class="form-group">
								<label for="txtDate" class="col-sm-2 control-label">Ngày Tiếp Nhận</label>
								<div class="col-sm-10">
									<input type="date" class="form-control" id="txtNgayTiepNhan" name="txtNgayTiepNhan" placeholder="30-12-2017">
								</div>
							</div>
							<div class="form-group">
								<label for="txtFullDes" class="col-sm-2 control-label">Chi tiết</label>

								<div class="col-sm-10">
									<textarea rows="10" id="txtFullDes" name="txtFullDes" class="form-control">										
									</textarea>
								
								</div>
							</div>
							<div class="form-group">
								<label for="fuThumbs" class="col-sm-2 control-label">Ảnh nhỏ</label>
								<div class="col-sm-10">
									<input type="file" class="form-control" id="fuThumbs" name="fuThumbs">
								</div>
							</div>
							<div class="form-group">
								<label for="fuMain" class="col-sm-2 control-label">Ảnh lớn</label>
								<div class="col-sm-10">
									<input type="file" class="form-control" id="fuMain" name="fuMain">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button name="btnSave" type="submit" class="btn btn-success">
										<span class="glyphicon glyphicon-ok"></span>
										Lưu
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<script src="assets/jquery-3.1.1.min.js"></script>
	<script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="assets/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		tinymce.init({
		    selector: '#txtFullDes',
		    menubar: false,
		    toolbar1: "styleselect | bold italic | link image | alignleft aligncenter alignright | bullist numlist | fontselect | fontsizeselect | forecolor backcolor",
		    toolbar2: "",
		    plugins: 'link image textcolor',
		    height: 300,
		    encoding: "xml",
		});
	</script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'textarea' });</script>
