<?php

if (isset($_POST["updateStatus"])) {
	if (isset($_GET["ID"])) {
		$ID = $_GET["ID"];
		$selectOption = $_POST['quantity-textfield'];
		$sqlEdit = "UPDATE orders SET Status = $selectOption  WHERE OrderID = $ID";
		$rsEdit = write($sqlEdit);
	}
	



}
?>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="f" method="post" action="./updateCart.inc.php">
				<input type="hidden" id="txtCmd" name="txtCmd">
				<input type="hidden" id="txtDProId" name="txtDProId">
				<input type="hidden" id="txtUQ" name="txtUQ">
			</form>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID Orders</th>
						<th>Orders Date</th>
						<th >User ID</th>
						<th>Tổng Tiền</th>
						<th>Trạng Thái</th>
						
					</tr>
				</thead>
				<?php
				if(!isset($_SESSION["current_user"])){
				echo '<script language="javascript">';
				echo 'alert("Xin Vui Lòng Đăng Nhập")';
				echo '</script>';
				echo("<script>location.href = '/laptop/index.php';</script>");
				}

				// $sql = "select * from orders as od inner join orderdetails as dt on od.OrderID=dt.OrderID inner join products as pd on pd.ProID = dt.ProID
				// ORDER BY od.OrderDate  ASC
				// ";
				
				$sql = "select * from orders";

				$rs = load($sql);
					if ($rs->num_rows > 0):
					while ($row = $rs->fetch_assoc()):
					$trangthai="";
					$color ="";
					$val = "";
					$t1 = "";
					if($row["Status"] == 0){
					$trangthai = "Chưa Giao";
					$color = "red";
					$t1 = "Đã Giao";
					}
					else{
					$trangthai = "Đã Giao";
					$color ="green";
					$val = "style='position: absolute; left: -9999px'";

					}
				?>
				
				
				<tbody >
					
					<tr >
						<td colspan="" rowspan="" headers="" style="color:<?=$color?>"> <?=$row["OrderID"]?></td>
						<td colspan="" rowspan="" headers="" style="color:<?=$color?>"> <?=$row["OrderDate"]?></td>
						<td colspan="" rowspan="" headers="" style="color:<?=$color?>"> <?=$row["UserID"]?></td>
						<td colspan="" rowspan="" headers="" style="color:<?=$color?>"> <?=number_format($row["Total"])?>  VNĐ</td>
						
						<td colspan="" rowspan="" headers="" style="color:<?=$color?>"> <!-- <?=$trangthai?> -->
						<form action="/laptop/status.php?ID=<?= $row["OrderID"] ?>" name="" method="POST">
							<select name="quantity-textfield">
								<option value="0" selected><?=$trangthai?></option>
								<option value="1" ><?=$t1?></option>
							</select>
							<input type="submit" <?=$val?> value="update" name="updateStatus" style="color:green;">
<!-- 							<a class="btn btn-xs btn-primary cart-update" data-id="<?= $proId ?>" href="/laptop/status.php" role="button">
								<span class="glyphicon glyphicon-refresh"></span>
							</a> -->
						</form>

					</td>
				</tr>
				
			</tbody>
			<?php
			//}
			endwhile;
			endif;
			?>
		</table>
	</div>
</div>
</div>
