<?php
if (!isset($_GET["id"])) {
var_dump("hehe");
}
?>
<?php

if (isset($_POST["btnEdit"])) {
        if(isset($_GET["id"])){
    $ID = $_GET["id"];
    }
    $fullName = $_POST["txt-FName"];
    $email = $_POST["txtEmail"];
    $date = $_POST["txtDate"];
    $sqlEdit = "UPDATE users SET f_Name = '$fullName' ,f_Email = '$email' ,f_DOB = '$date' WHERE f_ID = $ID";
    $rsEdit = write($sqlEdit);

}
?>

<div class="row">
    
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked admin-menu" >
            <li class="active"><a href="" data-target-id="profile"><i class="glyphicon glyphicon-userb"></i> Profile</a></li>
            <li><a href="" data-target-id="change-password"><i class="glyphicon glyphicon-lock"></i> Change Password</a></li>
            <li><a href="" data-target-id="settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
            <li><a href="" data-target-id="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
        </ul>
    </div>
    <?php
    if(isset($_GET["id"])){
    $ID = $_GET["id"];
    }

    $sql = "select * from users where f_ID = $ID";
    $rs = load($sql);
    if ($rs->num_rows > 0)
    while ($row = $rs->fetch_assoc()) :
    ?>
    <div class="col-md-6   admin-content" id="profile">
        <form action="profile.php?id=<?=$row['f_ID']?>" method="post">
            <div class="panel panel-success" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">FULL NAME</h3>
                </div>
                <div class="panel-body">
                    <!-- load data -->
                    <input type="text" class="form-control" name="txt-FName" id=""
                    value="<?=$row["f_Name"] ?>">
                </div>
            </div>
            <div class="panel panel-success" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Email</h3>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" name="txtEmail" id=""
                    value="<?=$row["f_Email"] ?>">
                </div>
            </div>
            <div class="panel panel-success" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Date birth</h3>
                </div>
                <div class="panel-body">
                    <input type="date" required value="<?=$row["f_DOB"] ?>" name="txtDate">
                    </input>
                </div>
            </div>
            <div class="panel panel-success" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">UserName</h3>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" name="UserName" id=""
                    value="<?=$row["f_Username"] ?>" readonly>
                </div>
            </div>
            <div class="panel panel-success" style="margin: 1em;">
                <div class="panel-body">
                    <button type="submit" class="signupbtn" name="btnEdit">Lưu</button>
                </form>
            </div>
        </div>
        
    </div>
    <?php
    endwhile;
    ?>
    <div class="col-md-8   admin-content" id="settings">
        <div class="panel panel-success" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">Notification</h3>
            </div>
            <div class="panel-body">
                <div class="label label-success">allowed</div>
            </div>
        </div>
        <div class="panel panel-success" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">Newsletter</h3>
            </div>
            <div class="panel-body">
                <div class="badge">Monthly</div>
            </div>
        </div>
        <div class="panel panel-success" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">Admin</h3>
            </div>
            <div class="panel-body">
                <div class="label label-success">yes</div>
            </div>
        </div>
    </div>
    <div class="col-md-8  admin-content" id="change-password">
        <form action="/password" method="post">
            
            <div class="panel panel-success" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title"><label for="new_password" class="control-label panel-title">New Password</label></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="password" id="new_password" >
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-danger" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Confirm password</label></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="password_confirmation" id="confirm_password" >
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-info border" style="margin: 1em;">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="pull-left">
                            <input type="submit" class="form-control btn btn-primary" name="submit" id="submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class=col-md-8  admin-content" id="settings"></div>
    <div class="col-md-8   admin-content" id="logout">
        <div class="panel panel-danger" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">Confirm Logout</h3>
            </div>
            <div class="panel-body">
                Do you really want to logout ?
                <a  href="#" class="label label-danger"
                    onclick="event.preventDefault();
                    document.getElementById('logout-form').submit();">
                    <span >   YES  </span>
                </a>
                <a href="/account" class="label label-success"> <span >  NO   </span></a>
            </div>
            <form id="logout-form" action="#" method="POST" style="display: none;">
            </form>
        </div>
    </div>
</div>