

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="f" method="post" action="./updateCart.inc.php">
				<input type="hidden" id="txtCmd" name="txtCmd">
				<input type="hidden" id="txtDProId" name="txtDProId">
				<input type="hidden" id="txtUQ" name="txtUQ">
			</form>
			<table class="table table-hover">
				<thead>
					<tr>
						
						<th>OrderID</th>
						<th>OrderDate</th>
						<th class="col-md-2">Total</th>
						<th >Status</th>
						
						
					</tr>
				</thead>
				<?php 
				if(!isset($_SESSION["current_user"])){
							echo '<script language="javascript">';
		echo 'alert("Xin Vui Lòng Đăng Nhập")';
		echo '</script>';
					echo("<script>location.href = '/laptop/index.php';</script>");
				}
				$ID=$_SESSION["current_user"]->f_ID;
				$sql = "select * from orders where UserID = $ID";
				$rs = load($sql);
				if ($rs->num_rows > 0):
					while ($row = $rs->fetch_assoc()):
											$trangthai="";
											
											if($row["Status"] == 0){
												$trangthai = "Chưa Giao";
											}
											else{
												$trangthai = "Đã Giao";
											
											}						
				 ?>
				<tbody>
					<tr>

					<td colspan="" rowspan="" headers=""><?=number_format($row["OrderID"])?></td>
					<td colspan="" rowspan="" headers=""> <?=$row["OrderDate"]?></td>
					<td style="color: #D00230"><?=number_format($row["Total"])?>  VNĐ</td>
					<td colspan="" rowspan="" headers=""> <?=$trangthai?></td>
										<td class="text-right">
							
							<a class="btn btn-xs btn-primary cart-update" data-id="<?= $proId ?>" href="productDetailUser.php?ID=<?=$row["OrderID"]?>" role="button">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
				
	
					</td>
					</tr>
					
				</tbody>
					<?php
	endwhile;
	endif;
	?>
			</table>
		</div>
	</div>
</div>
	