<?php
//thêm sản phẩm vào giỏ
// session_start();
// if (!isset($_SESSION["cart"])) {
	// 	$_SESSION["cart"] = array();
// }



// if (isset($_POST["btnAddItemToCart"])) {
// 	$proId = $_POST["txtProID"];
// 	$q = $_POST["txtQuantity"];
	
// 	add_item($proId, $q);

// }
if (!isset($_GET["id"])) {
	header('Location: index.php');
}
//phân trang
$id = $_GET["id"];
$limit = 3;
$current_page = 1;
if (isset($_GET["page"])) {
	$current_page = $_GET["page"];
}
$next_page = $current_page + 1;
$prev_page = $current_page - 1;
$c_sql = "select count(*) as num_rows from products where CatID = $id";
$c_rs = load($c_sql);
$c_row = $c_rs->fetch_assoc();
$num_rows = $c_row["num_rows"];
$num_pages = ceil($num_rows / $limit);
		if ($current_page < 1 || $current_page > $num_pages	) {
	$current_page = 1;
	
	if (headers_sent()) {
		die("Khong tim thay san pham:<a href='http://localhost:8080/laptop/productsByCat.php?id=1&page=1'>nhấn để quay về </a>");
	}
}
// $offset = 0;
$offset = ($current_page - 1) * $limit;
$sql = "select * from products where CatID = $id limit $offset, $limit ";
$rs = load($sql);
?>
<div class="row">
	<?php
	if ($rs->num_rows > 0):
	while ($row = $rs->fetch_assoc()):
	?>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href="productDetails.php?ProID=<?=$row["ProID"]?>"  role="button"><img src="imgs/sp/<?= $row["ProID"] ?>/main_thumbs.jpg" alt="..."></a>
			<div class="caption">
				<h4 ><?=$row["ProName"]?></h4>
				<h4 style="color: #D00230"><?=number_format($row["Price"])?> Đ</h4>
				<p style="height: 40px"><?=$row["TinyDes"]?></p>
				<br>
				<h3 style="color:red;">Số Lượng Còn Lại : <?= $row["Quantity"] ?></h3>	
				<p>
					<a href="productDetails.php?ProID=<?=$row["ProID"]?>" class="btn btn-primary" role="button">Chi tiết</a>
<!-- 										<a href="./viewcart/addItemToCart.inc.php" class="btn btn-danger" role="button" name="btnAddItemToCart">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							Đặt mua
					</a> -->

					
					<form method="post" action="./addItemToCart.inc.php" style="position :relative;bottom: 45px;left: 80px;">
						<div class="input-group">
							<input type="hidden" name="txtProID" value="<?= $row["ProID"] ?>">
							<input type="hidden" class="form-control" value="1" name="txtQuantity" id="txtQuantity">
							<input type="hidden" name="quantity" value="<?= $row["Quantity"] ?>">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit" name="btnAddItemToCart">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Đặt Mua
								</button>
							</span>
						</div>
					</form>

				</p>
			</div>
		</div>
	</div>
	<?php
	endwhile;
	endif;
	?>
	
	<div colspan="4" class="text-center">
		<?php if ($prev_page > 0) : ?>
		<a class="btn btn-primary" href="productsByCat?id=<?=$id?>&page=<?= $prev_page ?>" role="button">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Quay Lại
		</a>
		<?php endif; ?>
		<?php if ($next_page <= $num_pages) : ?>
		<a class="btn btn-primary" href="productsByCat?id=<?=$id?>&page=<?= $next_page ?>" role="button">
			<span class="glyphicon glyphicon-arrow-right"></span>
			Tiếp Tục
		</a>
		<?php endif; ?>
	</div>
	
	
</div>