<?php 

 ?>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="f" method="post" action="./updateCart.inc.php">
				<input type="hidden" id="txtCmd" name="txtCmd">
				<input type="hidden" id="txtDProId" name="txtDProId">
				<input type="hidden" id="txtUQ" name="txtUQ">
			</form>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Sản phẩm</th>
						<th>Giá</th>
						<th class="col-md-2">Số lượng</th>
						<th>Tổng Tiền</th>
						
					</tr>
				</thead>
				<?php
				if(!isset($_SESSION["current_user"])){
					echo '<script language="javascript">';
					echo 'alert("Xin Vui Lòng Đăng Nhập")';
					echo '</script>';
					echo("<script>location.href = '/laptop/index.php';</script>");
				}
					if (isset($_GET["ID"])) 

						$id = $_GET["ID"];
										$sql = "select * from orderdetails od,products pd where od.OrderID = $id and pd.ProID = od.ProID";								
									  $rs = load($sql);
									if ($rs->num_rows > 0):
										while ($row = $rs->fetch_assoc()):
									 ?>
											
											
								<tbody>
									<tr>
										<td><span><img src="imgs/sp/<?=$row["ProID"]?>/main_thumbs.jpg" alt="" width="80" height="55"></span> <?= $row["ProName"] ?></td>
										<td colspan="" rowspan="" style="color: #D00230"><?=number_format($row["Price"])?>  VNĐ</td>
										
										<td colspan="" rowspan="" headers=""> <?=$row["SoLuong"]?></td>

										<td colspan="" rowspan="" style="color: #D00230"> <?=number_format($row["Amount"])?>  VNĐ</td>
									</tr>
									
								</tbody>
					<?php

					
					endwhile;
					endif;

					?>
			</table>
		</div>
	</div>
</div>

	