.col-center-block {
	float: none;
	display: block;
	margin:  0 auto;
}
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:1px;
	border-bottom-left-radius:0;
}
.justify {
	text-align ;
	text-align ;
	font-size:15px;
	font-family:arial,helvetica,sans-serif;
}
#justify_img img {
	display: block;
	width: 550px;
	height: 600px;
	margin: 0 auto;
}
.justify_footer{
	text-align: right;
	font-size:12px;
	font-family:arial,helvetica,sans-serif;
}
.tab-pading{
	padding-left: 0px;
}
#exTab2{
  color : white;
  background-color: white;
}
.pa-heading {
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#myList li{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}