<?php 
	if (isset($_POST)) {
		if (isset($_GET["id"])) {
			$ID = $_GET["id"];
			var_dump($ID);
			$sqlup = "DELETE products where ProID=$ID";
			$rsup = write($sqlup);
	}
}

		
 ?>

<div class="row">

	<div class="panel panel-default">
			<?php
					
					
						$sql = "select * from products  ";
						$rs = load($sql);
						if ($rs->num_rows > 0):
						while ($row = $rs->fetch_assoc()):

					?>
		<div class="panel-body">
			<form id="f" method="post" action="./quanlysanpham.php?id=txtDProId">
				<input type="hidden" id="txtCmd" name="txtCmd">
				<input type="hidden" id="txtDProId" name="txtDProId">
				<input type="hidden" id="txtUQ" name="txtUQ">
			</form>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Sản phẩm</th>
						<th>Giá</th>
						<th >Số lượng</th>
						<th>Lượt Xem</th>
						
						<th>Số Lượng Bán</th>
						
					</tr>
				</thead>
				<tbody>

				<tr>
					<td><span><img src="imgs/sp/<?=$row["ProID"]?>/main_thumbs.jpg" alt="" width="80" height="55"></span> <?= $row["ProName"] ?></td>
					<td><?= number_format($row["Price"]) ?> <b>VND<b></td>
						<td><?= number_format($row["Quantity"]) ?> <b><b></td>
					<td><?= number_format($row["LuotXem"]) ?> <b><b></td>
					
					<td><?= number_format($row["SoLuongBan"]) ?></td>
						
				<td class="text-right">
							<a class="btn btn-xs btn-danger cart-remove" data-id="<?= $proId ?>" href="javascript:;" role="button">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<a class="btn btn-xs btn-primary cart-update" data-id="<?= $proId ?>" href="javascript:;" role="button">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
						</td>
				</tr>
						<?php
	endwhile;
	endif;
	?>
				</tbody>

			</table>
		</div>
	</div>
</div>
	<script src="assets/jquery-3.1.1.min.js"></script>
	<script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
	<script type="text/javascript">
		$('.cart-remove').on('click', function() {
			var id = $(this).data('id');
			$('#txtDProId').val(id);
		    var d = $('#txtCmd').val('D');
		    $('#f').submit();
		});

		$('.cart-update').on('click', function() {

			var q = $(this).closest('tr').find('.quantity-textfield').val();
			var qtity = $(this).closest('tr').find('.quantity').val();
			

			if(q > qtity){
				alert("số lượng hàng còn lại  " + qtity + "  mua thất bại" );
				location.reload();

			}else{

			$('#txtUQ').val(q);

			var id = $(this).data('id');
			$('#txtDProId').val(id);
		    $('#txtCmd').val('U');

		    $('#f').submit();
		}
		});

		$('.quantity-textfield').TouchSpin({
	        min: 1,
	        max: 69,
	        verticalbuttons: true,
            // step: 1,
            // decimals: 0,
            // boostat: 5,
            // maxboostedstep: 10,
            // postfix: '%'
	    });

	</script>