<?php 
	if (isset($_POST["btnCheckOut"])) {
if (!isset($_SESSION["current_user"])) {

	// exit(header("Location: /index.php"));

//quay lai trang chủ nếu chưa đăng nhập;


		echo '<script language="javascript">';
		echo 'alert("Xin Vui Lòng Đăng Nhập")';
		echo '</script>';

echo("<script>location.href = '/laptop/index.php';</script>");

	
}

else{
	if($_POST["txtTotal"] === '0'){
		echo '<script language="javascript">';
		echo 'alert("Giỏ Hàng Đang Rổng , Xin Vui Long Mua Hàng")';
		echo '</script>';
		echo("<script>location.href = '/laptop/index.php';</script>");
	}

	
		$o_Total = $_POST["txtTotal"];
		$o_UserID = $_SESSION["current_user"]->f_ID;
		$o_OrderDate = strtotime("+7 hours", time());
		$str_OrderDate = date("Y-m-d H:i:s", $o_OrderDate);
		$sql = "insert into orders(OrderDate, UserID, Total,Status) values('$str_OrderDate', $o_UserID, $o_Total,0)";
		$o_ID = write($sql);
	
		//
		// order_details

		foreach ($_SESSION["cart"] as $proId => $q) {

			$sql = "select * from products where ProID = $proId";
			$rs = load($sql);
			if ($rs->num_rows > 0) {
			$row = $rs->fetch_assoc();
			$price = $row["Price"];
			$amount = $q * $price;
			$d_sql = "insert into orderdetails(OrderID, ProID, SoLuong, Price, Amount) values($o_ID, $proId, $q, $price, $amount)";
			write($d_sql);


					$sqlup = "UPDATE products SET SoLuongBan=SoLuongBan+$q WHERE ProID=$proId";
					$rsup = write($sqlup);
			
}

		//thong báo mua hàng thành công
		echo '<script language="javascript">';
		echo 'alert("Mua Thành Công")';
		echo '</script>';


		$sqlup = "UPDATE products SET Quantity=Quantity-$q WHERE ProID=$proId";
		$rsup = write($sqlup);	
		}

	

		
		// clear cart
		echo("<script>location.href = '/laptop/viewcart.php';</script>");
		$_SESSION["cart"] = array();
	}
}
 ?>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="f" method="post" action="./updateCart.inc.php">
				<input type="hidden" id="txtCmd" name="txtCmd">
				<input type="hidden" id="txtDProId" name="txtDProId">
				<input type="hidden" id="txtUQ" name="txtUQ">
			</form>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Sản phẩm</th>
						<th>Giá</th>
						<th class="col-md-2">Số lượng</th>
						<th>Thành tiền</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<?php
					$total = 0;
					foreach ($_SESSION["cart"] as $proId => $q) :
						$sql = "select * from products where ProID = $proId";
						$rs = load($sql);
						if ($rs->num_rows > 0) {
						$row = $rs->fetch_assoc();
						$amount = $q * $row["Price"];
						$total += $amount;
					}
					?>
					<tr>
						<td><span><img src="imgs/sp/<?=$row["ProID"]?>/main_thumbs.jpg" alt="" width="80" height="55"></span> <?= $row["ProName"] ?></td>
						<td><?= number_format($row["Price"]) ?> <b>VND<b></td>
						<!-- <td><?= $q ?></td> -->
						<td>

							<!-- <input class="quantity-textfield" type="text" name="" id="" value="<?= $q ?> "> -->

							<!-- <input class="quantity-textfield"  min="2" max="20" step="2" value="<?= (int)$q ?> " /> -->
							<input class="quantity-textfield"  name="" id="" value="<?= $q ?>" >

							<input class="quantity" type="hidden" value="<?= $row["Quantity"] ?>">
							

						</td>

						
						<td><?= number_format($amount) ?> <b>VND<b></td>

						<td class="text-right">
							<a class="btn btn-xs btn-danger cart-remove" data-id="<?= $proId ?>" href="javascript:;" role="button">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<a class="btn btn-xs btn-primary cart-update" data-id="<?= $proId ?>" href="javascript:;" role="button">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
						</td>
					</tr>
					<?php
					endforeach;
					?>
				</tbody>
				<tfoot>
				<td>
					<a class="btn btn-success" href="index.php" role="button">
						<span class="glyphicon glyphicon-backward"></span>
						Tiếp tục mua hàng
					</a>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b><?= number_format($total) ?> VND</b></td>
				<td class="text-right">
					<form method="POST" action="">
						<input type="hidden" name="txtTotal" value="<?= $total ?>">
						<button name="btnCheckOut" type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-bell"></span>
						Thanh toán
						</button>
					</form>
				</td>
				</tfoot>
			</table>
		</div>
	</div>
</div>
	<script src="assets/jquery-3.1.1.min.js"></script>
	<script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
	<script type="text/javascript">
		$('.cart-remove').on('click', function() {
			var id = $(this).data('id');
			$('#txtDProId').val(id);
		    var d = $('#txtCmd').val('D');
		    $('#f').submit();
		});

		$('.cart-update').on('click', function() {

			var q = $(this).closest('tr').find('.quantity-textfield').val();
			var qtity = $(this).closest('tr').find('.quantity').val();
			

			if(q > qtity){
				alert("số lượng hàng còn lại  " + qtity + "  mua thất bại" );
				location.reload();

			}else{

			$('#txtUQ').val(q);

			var id = $(this).data('id');
			$('#txtDProId').val(id);
		    $('#txtCmd').val('U');

		    $('#f').submit();
		}
		});

		$('.quantity-textfield').TouchSpin({
	        min: 1,
	        max: 69,
	        verticalbuttons: true,
            // step: 1,
            // decimals: 0,
            // boostat: 5,
            // maxboostedstep: 10,
            // postfix: '%'
	    });

	</script>