<?php
	if (!isset($_GET["ProID"])) {
		
	}
?>
<!-- <link rel="stylesheet" href="/laptop/views/productDetails/style.css"> -->
<div class="row">
	<div class="container-fluid">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<?php
					if(isset($_GET["ProID"])){
						$ID = $_GET["ProID"];
					}
					//update luot xem :
					$sqlup = "UPDATE products SET LuotXem=LuotXem+1 WHERE ProID=$ID";
					$rsup = write($sqlup);
					$sql = "select * from products where ProID = $ID";
					$rs = load($sql);
					if ($rs->num_rows > 0) :
					$row = $rs->fetch_assoc();
					$catID = $row["CatID"];
					$price =$row["Price"];
					$LuotXem = $row["LuotXem"];
				?>
				<h3 class="panel-title"><?php echo $row["ProName"]; ?></h3>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row justify-content-start">
						<div class="row">
							<div class="col-md-4">
								<div class="row">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">
										<!-- Indicators -->
										<ol class="carousel-indicators">
											<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
											<li data-target="#myCarousel" data-slide-to="1"></li>
											<li data-target="#myCarousel" data-slide-to="2"></li>
										</ol>
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item active">
												<img src="imgs/sp/<?=$row["ProID"]?>/main_thumbs.jpg" alt="" style="width: 100%;">
												<div class="carousel-caption">
													
												</div>
											</div>
											<div class="item">
												<img src="imgs/sp/<?=$row["ProID"]?>/1.jpg" alt="" style="width: 100%;">
												<div class="carousel-caption">
													
												</div>
											</div>
											
											<div class="item">
												
												<img src="imgs/sp/<?=$row["ProID"]?>/2.jpg" alt="" style="width: 100%;">
												<div class="carousel-caption">
												</div>
											</div>
											
										</div>
										<!-- Left and right controls -->
										<a class="left carousel-control" href="#myCarousel" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#myCarousel" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div >
									<form>
										
										<div class="form-group">
											<label for="disabledTextInput"><?= number_format($row["Price"]) ?> VND</label>
											<div class="row">
												<div class="col-md-6">
													
													<?php echo $row["TinyDes"] ?>
													
													
												</div>
												<div class="col-md-6">
													
												</div>
											</div>
											<hr></hr>
											
											<li>Số Lượt Bán : </li>
											
											
											<li> Số Lượt Xem :  <?php echo "<span style='font-size: 25px'>$LuotXem</span>"; ?></li>
											</br>
											
											<button type="button" name="btnAddItemToCart" class="btn btn-lg btn-danger">Mua Ngay</button>
											<button type="button" class="btn btn-lg btn-success">Trả Góp</button>
											<h4 class="glyphicon glyphicon-phone-alt" aria-hidden="true">Gọi 19001010 (Hố trợ)</h4>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<?php
				endif;
			?>
		</div>
	</div>
</div>
</div>
<div class="container-fluid">
<div class="panel panel-default">
	<div class="pa-heading">
		<div class="panel-title">
			<div id="exTab2" class="container">
				<ul class="row nav nav-tabs col-md-10">
					<li><a href="#2" data-toggle="tab">Máy tính xách tay cùng hãng</a></li>
					<li class="active"><a  href="#1" data-toggle="tab">Máy tính xách tay tương tự </a></li>
					
				</ul>
				<div class="tab-content">
					<div class="col-md-10 tab-pane active" id="1">
						<div class="row">
							
							<?php
								$sql = "select * from products where Price >= $price ORDER BY RAND() limit 4";
								$rs = load($sql);
								while ($_rowCatID = $rs->fetch_assoc()) :
							?>
							<div class="col-xs-10 col-md-3">
								<a href="cart?<?=$_rowCatID["ProID"]?>"><br/>
									<span><img src="imgs/sp/<?=$_rowCatID["ProID"]?>/main_thumbs.jpg" alt="" width="160" height="110"></span>
								</a>
								<h5 class="text-muted"><?=$_rowCatID["ProName"]?></h5>
								<p class="text-danger"><?=number_format($_rowCatID["Price"])?> VND</p>
							</div>
							<?php
								endwhile;
							?>
							
						</div>
					</div>
					<div class="col-md-10 tab-pane" id="2">
						<div class="row">
							
							<?php
								$sql = "select * from products where CatID = $catID ORDER BY RAND() limit 4";
								$rs = load($sql);
								while ($_rowCatID = $rs->fetch_assoc()) :
							?>
							<div class="col-xs-10 col-md-3">
								<a href="cart?<?=$_rowCatID["ProID"]?>"><br/>
									<span><img src="imgs/sp/<?=$_rowCatID["ProID"]?>/main_thumbs.jpg" alt="" width="160" height="110"></span>
								</a>
								<h5 class="text-muted"><?=$_rowCatID["ProName"]?></h5>
								<br/>
								<p class="text-danger"><?=number_format($_rowCatID["Price"])?> VND</p>
							</div>
							<?php
								endwhile;
							?>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="container-fluid">
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h5 class="text-muted">Đặc tả chi tiết</h5>
		</div>
	</div>
	<div class="panel-body">
		<div class="container">
			<div class="container">
				<div>
					<div class="col-md-10">
						<h4><?php echo $row["ProName"]; ?></h4>
						<br/>						<?php echo $row["MoTa"]; ?>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>
</div>